<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>
<style>
    #groups-table th, #groups-table td {
        text-align: center;
    }

    input[name="groupRadio"] {
        position: relative;
    }
</style>
<body data-sa-theme="3">
<% include ../partials/header.ejs %>
<% include ../partials/sidebar.ejs %>
<section class="content">
    <div class="content__inner">
        <header class="content__title">
            <h1><%= i18n.__('Client Management') %></h1>
        </header>
        <div class="card">
            <div class="card-body">
                <h5><%= i18n.__('CLIENTS LIST') %></h5>
                <div class="py-3 text-right">
                    <button type="button" class="btn btn-success" onclick="addUser()">Add New Client</button>
                </div>
                <div class="table-responsive data-table">
                    <table id="users-table" class="table table-bordered text-center">
                        <thead>
                        <tr>
                            <th style="color: yellow;">NO</th>
                            <th style="color: yellow;">PHOTO</th>
                            <th style="color: yellow;min-width: 160px;">USER</th>
                            <th style="color: yellow;min-width: 160px;">EMAIL</th>
                            <th style="color: yellow;">PHONE</th>
                            <th style="color: yellow;">APROVE</th>
                            <th style="color: yellow; width: 8%;">ACTIVE</th>
                            <th style="color: yellow; width: 8%;">BLOCK</th>
                            <th style="color: yellow; width: 8%;">EDIT</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for (let k = 0; k < users.length; k++) { %>
                            <% if (users[k].aprove_status == "ACTIVE") { %>
                            <tr id="<%= users[k].id %>" style="background: rgba(0,255,0,0.2);">
                                <% } else { %>
                            <tr id="<%= users[k].id %>" style="background: rgba(0,0,0,0.2);">
                                <% } %>
                                <td class="user-number"><%= k + 1 %></td>
                                <td class="user-avatar"><img src="<%=users[k].avatar%>" style="width: 60px;"></td>
                                <td class="user-name"><%= users[k].username %></td>
                                <td class="user-email"><%= users[k].email %></td>
                                <td class="user-email"><%= users[k].phone %></td>
                                <td class="user-aprove"><%= users[k].aprove_status %></td>
                                <td>
                                    <button type="button" class="btn btn-outline-success py-1" onclick="activeUser('<%= users[k].id %>')">ACTIVE</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-danger py-1" onclick="blockUser('<%= users[k].id %>')">BLOCK</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-primary py-1" onclick="editUser('<%= users[k].id %>')">EDIT</button>
                                </td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- change group of user -->
<div class="modal fade" id="modal-user" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change group of user</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="modal_user_id" value="">
                <div class="row">
                    <label class="col-sm-6 col-form-label">User Name : </label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="user_name" placeholder="User Name" required/>
                            <div class="invalid-feedback">Please provide a valid input</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-6 col-form-label">Email : </label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Email" required/>
                            <div class="invalid-feedback">Please provide a valid input</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-6 col-form-label">Phone Number : </label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="phone_number" placeholder="Phone Number"/>
                        </div>
                    </div>
                </div>
                <div class="row mb-4 enable_change_password">
                    <div class="col-sm-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" onchange="enableChangePassword()" id="enable_change_password" checked>
                            <label class="custom-control-label" for="enable_change_password">Enable Change Password</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-6 col-form-label">Password : </label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" placeholder="Password" required/>
                            <div class="invalid-feedback">Please provide a valid input</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-6 col-form-label">Confirm Password : </label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password" required/>
                            <div class="invalid-feedback">Please provide a valid input</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" onclick="submitChangeUser()">Save Changes</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
<% include ../partials/foot.ejs %>
<script>
    $(document).ready(function () {
        $("#users-table").DataTable({
            aaSorting: [],
            autoWidth: !1,
            responsive: !0,
            lengthMenu: [[15, 40, 100, -1], ["15 Rows", "40 Rows", "100 Rows", "Everything"]],
            language: {searchPlaceholder: "Search for records..."},
            sDom: '<"dataTables__top"flB<"dataTables_actions">>rt<"dataTables__bottom"ip><"clear">',
            buttons: [{extend: "excelHtml5", title: "Export Data"}, {extend: "csvHtml5", title: "Export Data"}, {extend: "print", title: "Material Admin"}],
            initComplete: function () {
                let html = '<i class="zwicon-more-h" data-toggle="dropdown"></i>' +
                    '<div class="dropdown-menu dropdown-menu-right">' +
                    // '<a data-table-action="print" class="dropdown-item">Print</a>' +
                    '<a data-table-action="fullscreen" class="dropdown-item">Fullscreen</a>' +
                    // '<a data-table-action="excel" class="dropdown-item">Excel (.xlsx)</a>' +
                    // '<a data-table-action="csv" class="dropdown-item">CSV (.csv)</a>' +
                    '</div>';
                $(".dataTables_actions").html(html)
            }
        });
        $("body").on("click", "[data-table-action]", function (e) {
            e.preventDefault();
            let t = $(this).data("table-action");
            if ("excel" === t && $("#users-table_wrapper").find(".buttons-excel").click(), "csv" === t && $("#users-table_wrapper").find(".buttons-csv").click(), "print" === t && $("#users-table_wrapper").find(".buttons-print").click(), "fullscreen" === t) {
                let a = $(this).closest(".card");
                a.hasClass("card--fullscreen") ? (a.removeClass("card--fullscreen"), $('body').removeClass("data-table-toggled")) : (a.addClass("card--fullscreen"), $('body').addClass("data-table-toggled"))
            }
        });
    });

    let users = JSON.parse(`<%- JSON.stringify(users) %>`);

    function enableChangePassword() {
        $('#password').val("");
        $('#confirm_password').val("");

        if ($('#enable_change_password').prop('checked') == true) {
            $('#password').prop('readonly', false);
            $('#confirm_password').prop('readonly', false);
            $('#password').prop('required', true);
            $('#confirm_password').prop('required', true);
        } else {
            $('#password').prop('readonly', true);
            $('#confirm_password').prop('readonly', true);
            $('#password').prop('required', false);
            $('#confirm_password').prop('required', false);
        }
    }
    function activeUser(id) {
        let url = '/admin/editUser';
        let data = {
            id: id,
            type: 'active',
        };
        $.ajax({
            url: url,
            method: 'post',
            data: data,
            success: function (res) {
                if (res.status === 'success') {
                    customAlert(res.message, true);
                    setTimeout(function () {
                        location.reload();
                    }, 500);
                } else customAlert(res.message);
            }
        })
    }
    function blockUser(id) {
        let url = '/admin/editUser';
        let data = {
            id: id,
            type: 'block',
        };
        $.ajax({
            url: url,
            method: 'post',
            data: data,
            success: function (res) {
                if (res.status === 'success') {
                    customAlert(res.message, true);
                    setTimeout(function () {
                        location.reload();
                    }, 500);
                } else customAlert(res.message);
            }
        })
    }
    function addUser() {
        $('#enable_change_password').prop('checked', true);
        $('.enable_change_password').hide();
        enableChangePassword();

        $('#modal-user').find('input, select').each(function () {
            if ($(this).prop('required')) {
                $(this).removeClass('is-invalid');
            }
        });
        $('#modal-user .modal-title').html('Add New Client');
        $('#modal_user_id').val("");
        $('#user_name').val("");
        $('#email').val("");
        $('#phone_number').val("");

        $('#modal-user').modal();
    }
    function editUser(id) {
        $('.enable_change_password').show();
        $('#modal-user').find('input, select').each(function () {
            if ($(this).prop('required')) {
                $(this).removeClass('is-invalid');
            }
        });
        $('#modal-user .modal-title').html('Edit Client Profile');
        $('#modal_user_id').val(id);
        $('#user_name').val(users.find(x => x.id == id).username);
        $('#email').val(users.find(x => x.id == id).email);
        $('#phone_number').val(users.find(x => x.id == id).phone);
        $('#modal-user').modal();
    }
    function submitChangeUser() {
        let bValid = true;
        $('#modal-user').find('input, select').each(function () {
            if ($(this).prop('required') && ($(this).val() == null || $(this).val() == "")) {
                $(this).addClass('is-invalid');
                bValid = false;
            } else {
                $(this).removeClass('is-invalid');
            }
        });
        let password = $('#password').val();
        let confirm_password = $('#confirm_password').val();
        if (password != confirm_password) {
            $('#confirm_password').addClass('is-invalid');
            bValid = false;
        }

        if (!bValid) return;


        let id = $('#modal_user_id').val();
        let username = $('#user_name').val();
        let email = $('#email').val();
        let phone = $('#phone_number').val();
        let password_flag = $('#enable_change_password').prop('checked');

        let url = '/admin/editUser';

        if (id != "") {
            let data = {
                id: id,
                username: username,
                email: email,
                phone: phone,
                password_flag: password_flag,
                password: password,
                type: 'edit',
            };
            $.ajax({
                url: url,
                method: 'post',
                data: data,
                success: function (res) {
                    if (res.status === 'success') {
                        customAlert(res.message, true);
                        setTimeout(function () {
                            location.reload();
                        }, 500);
                    } else customAlert(res.message);
                }
            })
        } else {
            let data = {
                username: username,
                email: email,
                phone: phone,
                password: password,
                type: 'add',
            };
            $.ajax({
                url: url,
                method: 'post',
                data: data,
                success: function (res) {
                    if (res.status === 'success') {
                        customAlert(res.message, true);
                        setTimeout(function () {
                            location.reload();
                        }, 500);
                    } else customAlert(res.message);
                }
            })
        }
    }
</script>
</body>
</html>
